.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  margin-bottom: 0;
}

.form__checkbox {
  margin-right: 12px;
}
.form__input {
  display: block;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0 32px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #838383;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 32px;
  border-radius: 4px;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 1 ease;
  border: none;
  transition: color 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
  color: #1f69c9;
}

.form__label::placeholder {
  color: #838383;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
